# Killnet XMD environment template
BOT_NAME=Killnet XMD
OWNER_NUMBER=
MASTER_SUDO=
PREFIX=.
TIMEZONE=Africa/Kampala
PACK_NAME=Killnet XMD
AUTHOR=Dian Sybex Tech
PAIR_MODE=code
# PAIR_NUMBER=
BAILEYS_LOG_LEVEL=silent
PORT=3001
